// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Main colors
$my-primary: #3a4712;
$my-secondary: #698020;

// Section colors
$bg-about: #f1f1f1;
$bg-prestations: #d4dabe;

// Partials colors
$bg-cards: $my-secondary;
$border-profile: whitesmoke;
$shadow-cards: #c0c0c0;
$bg-form: #d1d8bc;
