// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "DM Sans", "Helvetica", "sans-serif";
$headers-font: "Punarbhaba";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Punarbhaba";
  src: url("../../font/Punarbhaba_27-02-2006.ttf") format("ttf");
}
