
h1 {
  font-family: "Punarbhaba", serif;
  color: whitesmoke;
  font-size: 4em !important;
  margin-bottom: 0.5rem !important;
}

h2 {
  font-family: "Punarbhaba", serif;
  color: $my-secondary;
  font-weight: bold;
  font-size: 3em !important;
  margin-bottom: 1rem !important;
}
h3 {
  font-family: "Punarbhaba", serif;
  color: #3a4712;
  font-size: 1.5rem !important;
  font-weight: bold;
  margin-bottom: 1rem !important;
}
h4 {
  font-family: "Punarbhaba", serif;
  color: whitesmoke;
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
}
p {
  font-family: "DM Sans", sans-serif;
}
li {
  font-family: "DM Sans", sans-serif;
}


strong{
  font-weight: lighter !important;
}


@media (min-width: 0px) and (max-width: 900px) {
  section {
    padding: 1rem !important;
  }
}
@media (min-width: 901px) and (max-width: 5000px) {
  section {
    padding: 6rem !important;
  }
}

/* ---recruitment--- */

#recruitment-img {
  position: fixed;
  -webkit-position: fixed;
  bottom: 0;
  right: 5%;
  z-index: 100000000000000;
  -webkit-animation: btn-recruitment 1s ease-in-out infinite alternate;
  animation: btn-recruitment 1s ease-in-out infinite alternate;
  display: block;
  width: 250px;
  height: auto;
  user-select: none;
}
@media (min-width: 0px) and (max-width: 650px) {
  #recruitment-img {
    bottom: 0;
    right: 15%;
    width: 150px;
    height: auto;
  }
}
@-webkit-keyframes btn-recruitment {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@keyframes btn-recruitment {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
/* ---JS TRANSITIONS--- */

.reveal-left {
  opacity: 0;
  transform: translateX(-50px);
}
.reveal-right {
  opacity: 0;
  transform: translateX(50px);
}
.reveal-top {
  opacity: 0;
  transform: translateY(50px);
}
.reveal-bottom {
  opacity: 0;
  transform: translateY(-50px);
}
.reveal-visible {
  opacity: 1;
  transform: translateY(0px);
  transform: translateX(0px);
  transition: 1.3s cubic-bezier(0.5, 0, 0, 1);
}
