  <!-- ---A propos--- -->

  <section id="propos">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xl-8 col-md-6 col-sm-12 reveal-left">
          <h2 class="">A propos</h2>
          <p class="">
            <strong>Jardi'CA</strong> est une entreprise chapelaine,
            spécialisée dans la création et l'entretien d'<strong
              >espaces verts</strong
            >.<br /><br />
            Notre équipe de passionnés intervient principalement auprès d'une
            clientèle locale, à la <strong>Chapelle sur Erdre</strong> et ses
            alentours. Nous privilégions également un réseau de fournisseurs
            et de collaborateurs de proximité.<br /><br />
            Que vous soyez une entreprise, un particulier ou une copropriété,
            nous mettrons tout en œuvre pour réaliser vos
            <strong>travaux</strong> les plus exigeants. Pour connaître le
            détail de nos prestations, <a href="#prestations">cliquez ici !</a
            ><br /><br />
            Pour toutes questions ou demandes de devis,
            <a href="#contact"> cliquez ici !</a>
          </p>
        </div>
        <div
          class="col-lg-4 col-xl-4 col-md-6 col-sm-12 my-5 reveal-right"
          id="img"
        >
          <%# <img
            src="/img/others/jardi_ca-min.webp"
            alt="Charlie Arnoult - notre équipe Jardi CA"
            loading="lazy"
          /> %>
          <%= cl_image_tag("https://res.cloudinary.com/lucas-vittaz/image/upload/v1655496108/jardi_ca/jardi_ca-min_soyti0.webp", :alt=> "Charlie Arnoult - notre équipe Jardi CA") %>
        </div>
      </div>
    </div>
  </section>
