 <!-- ---Footer--- -->

    <footer>
      <div class="container-fluid p-5">
        <div class="row flex-column flex-nowrap flex-sm-row flex-sm-wrap">
          <div class="col footer-logo my-3 m-auto">
            <a href="#accueil"
              ><img
                src="/img/logo/full-Logo-min.webp"
                alt="jardica - accueil"
                loading="lazy"
            /></a>
          </div>
          <div class="col mb-3">
            <h3>Plan du site</h3>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#Accueil" class="nav-link p-0">Accueil</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#propos" class="nav-link p-0">A propos</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#prestations" class="nav-link p-0">Nos prestations</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#realisations" class="nav-link p-0">Réalisations</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#avis" class="nav-link p-0">Avis clients</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#contact" class="nav-link p-0">Nous contacter</a>
              </li>
            </ul>
          </div>
          <div class="col mb-3">
            <h3>Contact</h3>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <p>
                  <i class="fa-solid fa-location-dot"></i> 44240 La Chapelle sur
                  Erdre
                </p>
              </li>
              <li class="nav-item mb-2">
                <p>
                  <i class="fa-solid fa-phone" id="phone-footer"></i> 06 42 00
                  66 77
                </p>
              </li>
              <li class="nav-item mb-2">
                <p>
                  <i class="fa-solid fa-envelope" id="envelope-footer"> </i>
                  <a href="mailto:contact@jardica.net">contact@jardica.net</a>
                </p>
              </li>
            </ul>
          </div>
          <div class="col mb-3">
            <h3>Restez connecté !</h3>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <p>
                  <a
                    href="https://www.facebook.com/JardinierChapellesurerdre"
                    target="_blank"
                    class="nav-link p-0"
                    ><i class="fa-brands fa-facebook-square"></i> Facebook</a
                  >
                </p>
              </li>
              <li class="nav-item mb-2">
                <p>
                  <a
                    href="https://www.google.com/maps/place/Jardi'CA/@47.3032138,-1.5463036,15z/data=!4m5!3m4!1s0x0:0x1eaa6899f9bc8382!8m2!3d47.3032138!4d-1.5463036"
                    target="_blank"
                    class="nav-link p-0"
                  >
                    <i class="fa-brands fa-google"></i>
                    Google Buisness</a
                  >
                </p>
              </li>
              <li class="nav-item mb-2">
                <p>
                  <a
                    href="http://jardica.net"
                    target="_blank"
                    class="nav-link p-0"
                  >
                    <i class="fa-solid fa-shop"></i>
                    Location de matériel</a
                  >
                </p>
              </li>
            </ul>
          </div>
          <div class="justify-content-between py-4 my-4 border-top">
            <p class="text-center">
              © 2022 <strong>Jardi'CA</strong>, tous droits réservés.
            </p>
          </div>
        </div>
      </div>
    </footer>
