  <header id="accueil">
    <div id="header-1" class="container-fluid m-1 reveal-bottom">
      <div class="row" id="masthead-title">
        <div class="col reveal-bottom">
          <h1>Jardi'CA</h1>
          <div>
            <p>
              ENTRETIEN ET CRÉATION D’<strong>ESPACES VERTS</strong> À
              <strong>LA CHAPELLE SUR ERDRE</strong>
            </p>
          </div>
        </div>
      </div>
      <div class="row" id="masthead-contact">
        <div class="col-sm-4 col-md-4 d-flex reveal-left">
          <i class="fa-solid fa-phone m-1"></i>
          <p>06 42 00 66 77</p>
        </div>
        <div class="col-sm-6 col-md-6 reveal-right">
          <i class="fa-solid fa-envelope m-1"></i>
          <a href="mailto:contact@jardica.net" target="_blank"
            >contact@jardica.net</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col reveal-left">
          <a href="#propos" class="btn-enter m-2">ENTRER</a>
        </div>
      </div>
    </div>
  </header>
