 <!-- ---Navbar--- -->

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a id="nav-logo" class="navbar-brand mx-5" href="/"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse text-center">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#accueil">| Accueil |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#propos">| À propos |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#prestations">| Nos prestations |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#realisations">| Nos réalisations |</a>
            </li>
          </ul>
          <div id="btncontact" class="btn">
            <a href="#contact">Contactez-nous</a>
          </div>
        </div>
      </div>
    </nav>
