 <!-- ---Nos avis--- -->

  <section id="rating">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-center reveal-bottom">
          <h2>Avis clients</h2>
          <div class="shape_section mb-5"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-5 reveal-left">
          <div class="my-card p-3">
            <div class="profile profile-1"></div>
            <div class="row">
              <div class="col mt-5">
                <h4>B. Jeremy</h4>
              </div>
            </div>
            <div class="row">
              <div class="col mt-1">
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
              </div>
            </div>
            <div class="row">
              <div class="col mt-2">
                <p>
                  Nous avons confié des travaux d’élagage dans notre propriété
                  à l’entreprise Jardi'CA.<br />
                  Charlie est très professionnel .<br />
                  Je recommande cette entreprise à tous les Chapelains.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-5 reveal-top">
          <div class="my-card p-3">
            <div class="profile profile-2"></div>
            <div class="row">
              <div class="col mt-5">
                <h4>P. Marie</h4>
              </div>
            </div>
            <div class="row">
              <div class="col mt-1">
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
              </div>
            </div>
            <div class="row">
              <div class="col mt-2">
                <p>
                  Sollicité pour la taille des haies d'un jardin ignoré depuis
                  un an...A répondu très rapidement et a été ponctuel au
                  rendez-vous prévu. Travail efficace et propre. Très aimable.
                  Je vous recommande les yeux fermés Jardi'CA !!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-5 reveal-right">
          <div class="my-card p-3">
            <div class="profile profile-3"></div>
            <div class="row">
              <div class="col mt-5">
                <h4>J. Lemaire</h4>
              </div>
            </div>
            <div class="row">
              <div class="col mt-1">
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
                <i class="fa-solid fa-star" style="color: yellow" ;></i>
              </div>
            </div>
            <div class="row">
              <div class="col mt-2">
                <p>
                  Tres bonne expérience ! Nous avons sollicité Jardi'CA pour
                  la taille de nos haies. Le travail est soigné, le ramassage
                  aussi. Aucun dégât sur nos autres arbres et arbustes ou dans
                  le potager. Génial ! Nous recommandons sans hésitation !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
