  <!-- ---Nos prestations--- -->

  <section id="prestations">
    <div class="container">
      <div class="row mb-3 reveal-bottom">
        <div class="col-sm-12 col-md-7 m-auto">
          <h2>Nos prestations</h2>
          <p class="card-text">
            Spécialisés dans <strong>l’entretien d’espaces verts</strong>,
            nous avons à cœur de travailler dans les
            <strong>jardins</strong>.<br /><br />
            Vous souhaitez remettre en état un jardin laissé à l’abandon ? ou
            simplement effectuer un entretien ponctuel, voire régulier ? Nous
            sommes là pour répondre à vos attentes !<br />
            Nous proposons des formules sur mesure et des contrats annuels
            pour que le jardin ne soit plus une préoccupation !<br /><br />
            BON A SAVOIR : Bénéficiez d’un <strong>crédit d’impôt de 50%</strong> pour <strong>l'entretien de votre jardin</strong>
            <a
              href="https://www.servicesalapersonne.gouv.fr/beneficier-des-sap/quelles-sont-activites-de-services-la-personne/petits-travaux-de-jardinage"
              target="_blank"
            >
              (en savoir plus)</a
            >
            !<br /><br />
            L'<strong>élagage</strong> de tous types d'arbres et de toutes
            hauteurs fait également parti de nos savoir-faire.<br /><br />
            Passionnés de <strong>pelouses</strong>, nous réalisons très
            régulièrement des <strong>engazonnements</strong> de A à Z, et
            proposons aussi le suivi et l'<strong
              >entretien de vos gazons</strong
            >.<br /><br />
            Pour toutes <strong>créations de massifs</strong> et de plantations,
            n'hésitez pas à nous demander conseils, nous sommes à votre écoute
            !<br />
          </p>
        </div>
        <div class="col-sm-12 col-md-5 my-auto">
          <h3 class="card-title">
            <span class="bold-title">01</span>
            <strong>Entretien d'espaces verts</strong>
          </h3>
          <div class="card">
            <div class="card-body m-auto">
              <ul>
                <li><strong>Tonte de pelouses</strong> (toutes surfaces)</li>
                <li>
                  <strong>Entretien de pelouses</strong> (scarification et
                  regarnissage)
                </li>
                <li>
                  <strong>Taille de haies</strong>, d'arbres fruitiers,
                  d'oliviers et de rosiers
                </li>
                <li>Soufflage de feuilles</li>
                <li><strong>Nettoyage de terrasses</li>
                <li>Préparation de potagers...</li>
              </ul>
            </div>
            <div class="prestations_img"></div>
          </div>
        </div>
      </div>
      <div class="row mb-3 reveal-top">
        <div class="col-sm-12 col-md-5">
          <h3 class="card-title">
            <span class="bold-title">02</span> <strong>Élagage</strong>
          </h3>
          <div class="card">
            <div class="card-body m-2">
              <ul>
                <li>
                  <strong>Élagage</strong> et abattage (tous types d'arbres)
                </li>
                <li>Broyage de branches</li>
                <li><strong>Rognage de souches</strong></li>
                <li>Fendage de bois</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col"></div>
        <div class="col-sm-12 col-md-5 m-auto">
          <lottie-player
            class="my-lottie-logo text-center"
            id="lottie-services"
            src="https://assets2.lottiefiles.com/packages/lf20_mdmwone8.json"
            background="transparent"
            speed="0.5"
            style="width: 320px; height: 320px"
            loop
            autoplay
          ></lottie-player>
        </div>
      </div>
      <div class="row reveal-bottom">
        <div class="col-sm-12 col-md-5">
          <lottie-player
            class="my-lottie-logo text-center"
            id="lottie-creation"
            src="https://assets9.lottiefiles.com/packages/lf20_mxlw4pl5.json"
            background="transparent"
            speed="0.5"
            style="width: 320px; height: 320px"
            loop
            autoplay
          ></lottie-player>
        </div>
        <div class="col-sm-12 col-md-5 m-auto mb-5">
          <h3 class="card-title">
            <span class="bold-title">03</span>
            <strong>Création paysagère</strong>
          </h3>
          <div class="card">
            <div class="card-body m-auto">
              <ul>
                <li>
                  Engazonnement (création initiale et renouvellement de
                  pelouses)
                </li>
                <li>Création de massifs</li>
                <li>
                  Plantations (arbres, arbustes, vivaces, bulbes, rosiers,
                  ...)
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
