/* ---navBar--- */

nav {
  background-color: #ffffff;
  position: sticky !important;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0 3px 40px $my-primary;
  overflow: none;

  #navbarNav {
    margin-right: 4%;
    ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  #nav-logo {
    height: 8vh;
    padding-left: 140px;
    background-image: url("/img/logo/partial-logo-min.webp");
    background-size: contain;
    background-repeat: no-repeat;
    user-select: none;
  }

  .nav-link {
    color: $my-secondary !important;
    font-weight: bold;
  }
  .nav-link:hover {
    -webkit-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
    color: $my-primary !important;
  }

  .btn {
    background-color: $my-secondary !important;
    font-weight: bold;
    border: none;
    a {
      color: whitesmoke;
      text-decoration: none;
    }
  }

  .btn:hover {
    -webkit-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    background-color: $my-primary !important;
    border-color: $my-secondary;
    border: none;
  }

  #btncontact {
    margin-right: 1rem;
    a {
      white-space: nowrap;
    }
  }
}
@media (min-width: 0px) and (max-width: 991px) {
  nav {
    #navbarNav {
      ul {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #navbarNav {
    margin-right: 0% !important;
    ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
  }

  #nav-logo {
    height: 9vh;
    padding-left: 0px;
    background-image: url("/img/logo/partial-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #btncontact {
    margin-right: 0rem !important;
    a {
      white-space: nowrap;
    }
  }
}
